.forgot-password-card {
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  width: 600px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  display: "flex";
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
@media (max-width: 520px) {
  .forgot-password-card {
    width: 100%;
  }
}
