.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #0066bb;
}

.login-inside-container {
  border-radius: 30px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-main-container {
  border-radius: 30px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.login-image-container {
  width: 40%;
  height: 100%;
  min-width: 100px;
  border-right: 2px solid black;
}

.login-image-container img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
.login-main-part-container {
  width: 60%;
  height: 100%;
  min-width: 200px;
}

.login-data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.login-data .greeting-message {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 800;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #0066bb;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 400px;
  cursor: pointer;
  height: 24px;
  margin-top: 20px;
}

.link-for-register {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.link-for-register :first-child {
  color: #000;
}

.link-for-forgot-password {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

/* side menu */

.active-menu-item {
  background-color: #01325d !important;
}
