/* change password */
.change-password-container {
  border-radius: 10px;
  padding: 40px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: "flex-start";
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  width: 100%;
}
.change-password-container .form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
  width: 100%;
}

/* profile-page */
.profile-page-main-container {
  border-radius: 10px;
  padding: 40px;
  margin: 10px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-wrap: wrap;
  width: 100%;
}

.profile-page {
  padding-left: 100px;
  width: 100%;
}

.change-password-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #0066bb;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  cursor: pointer;
  height: 24px;
}
.change-password-button:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #09538f;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  cursor: pointer;
  height: 24px;
}

.confirm-new-password-input {
  border-radius: 200px;
  border: 1px solid #0066bb;
}
