.outer{
    width: 100% !important;
    height: 100vh !important;
}

.inner{
    height: 70%;
}

.text{
    font-size: 20px !important;
    letter-spacing: 1px;
    font-weight: 200;

}

.verify{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verify img{
    width: 150px;
    height: 150px;
}